Button.close {
  padding: 0 !important;
  background: none !important;
}

div.nbr-markers {
  border-radius: 50%;
  background-color: #02547D;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top : 5px;
  cursor: pointer;
  span {
    font-size: 1rem;
    font-weight: bold;
  }
}
