Button.close {
  padding: 0 !important;
  background: none !important;
}

div.nbr-markers {
  border-radius: 50%;
  background-color: #02547D;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top : 5px;
  cursor: pointer;
  span {
    font-size: 1rem;
    font-weight: bold;
  }
}

div.headerSidebar {
  width: 100%;
  height: 50px;
  background-color: #2185d0;
  padding: 10px;
  img {
    max-width: 30px;
    float: left;
    margin-right: 15px;
  }
  h1 {
    max-width: 150px;
    margin: 0;
    float: left;
    font-size: 17px;
    padding-top: 6px;
    color : #fff;
  }
}

.categories {
  border: none !important;
  width: 100% !important;
  padding-top: 0 !important;
  padding-bottom: 5px !important;
  height: 150px;
}

.bloc {
  padding: 10px;
}

.ui.divider {
  margin: 0 0 10px 0 !important;
}

button.add  {
  padding: 10px;
  background-color: red;
  height: 30px;
  width: 100px;
  border:none;
  color: #fff;
  content: 'add';
}

div.chatroom {
  position: relative;
  overflow-y: scroll;
  margin-top: 10px;
  border-top: 1px solid #c1c1c1;
}
